{% load static %}


<!DOCTYPE html>
<html lang="">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login | Sarujuk Apps</title>
    <link rel="stylesheet" href="{% static 'css/login_style.css' %}">
    <link rel="shortcut icon" href="{% static 'images/favicon.ico' %}" />
  </head>
  <body>
    <div class="wrapper">
      <form method="post" action="{% url 'login' %}">
        {% csrf_token %}
        <h2>Login to Sarujuk</h2>

        {% if messages %}
          {% for message in messages %}
            <p {% if message.tags %} class="{{ message.tags }} {% if message.tags == 'error' %}error{% endif %}"{% endif %}>{{ message }}</p>
          {% endfor %}
        {% endif %}

        <div class="input-field">
          <input type="text" name="username" required>
          <label>Enter your username</label>
        </div>

        <div class="input-field">
          <input type="password" name="password" required>
          <label>Enter your password</label>
        </div>
<!--        <div class="forget">-->
<!--          <label for="remember">-->
<!--            <input type="checkbox" id="remember">-->
<!--            <p>Remember me</p>-->
<!--          </label>-->
<!--          <a href="#">Forgot password?</a>-->
<!--        </div>-->
        <button type="submit">Log In</button>
<!--        <div class="register">-->
<!--          <p>Don't have an account? <a href="#">Register</a></p>-->
<!--        </div>-->
      </form>
    </div>
  </body>
</html>